*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --hue:194;
    --primary-color: hsl(var(--hue), 100%, 63%);
    --text-color: #303030;
}

body{
    font-size:1.6rem;
    font-family:"Poppins",sans-serif;
    color:white;
    background-color:black;
}

.sr-only {
    position:absolute;
    width: 1px;
    height: 1px;
    padding:0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    padding:1rem;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

header h1{
    text-transform: uppercase;
    font-size: 2rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

header input{
    height:3.2rem;
    border:none;
    outline: none;
    padding: 0 .8rem;
    border-radius: 3px 0 0 3px;
}

header button{
    height:3.2rem;
    padding: 0 1rem;
    border:none;
    cursor: pointer;
    color: white;
    background-color: var(--primary-color);
    border-radius: 0 3px 3px 0;
    font-weight: bold;
}

table *{
    font-size: 1.4rem;
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
    box-shadow:  .5rem .5rem 5rem .1rem rgba(255, 255, 255, 0.4);
}

table th{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align:left;
    font-weight: normal;
   
}

table td{
    padding: 1rem;
    text-align: left;
    color:black;
}
table th:first-child{
    border-top-left-radius: .4rem;
}

table th:last-child{
    border-top-right-radius: .4rem;
}
table tr:nth-child(even){
    background: #eee;
}

table tr:nth-child(odd){
    background: #ddd;
}

table td a{
    text-decoration: none;
}
td a p, span{
    color: black
}

td p{
    font-weight:bold;
}

.user{
    display: flex;
    align-items: center;
    gap: 2rem;
}

td.user img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius:50%;
}

td .remove{
   color: black;
   border: none;
   font-weight: bold;
   background-color: transparent;
   cursor: pointer;
}